.heading {
    color: rgba(255, 255, 255, 0.666);
    width: auto;
    text-align: justify;
    margin-top: 20%;
    vertical-align: middle;
    font-family: 'BioRhyme', serif;
    font-weight: 200;
    padding: -1;
}

#alter {
    position: relative;
    line-height: 1px;
    font-size: 8vw;
}

#ego {
    position: relative;
    letter-spacing: 2vw;
    font-size: 11vw;
    text-align: center;
}

#undertitle {
    position: relative;
    font-size: 1.1vw;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.4vw;
    word-spacing: 1.8vw;
    line-height: 1px;
    text-align: center;
    top: -30px;
}
