.heading {
    position: absolute;
    display: flex;
    gap: 12vw;
    color: rgba(255, 255, 255, 0.584);
    width: auto;
    text-align: justify;
    align-self: center;
    margin-left: 35%;
    vertical-align: middle;
    font-family: 'BioRhyme', serif;
    font-weight: 200;
    padding: -1;
}

#alter {
    position: relative;
    line-height: 1px;
    font-size: 8vw;
}

#ego {
    position: relative;
    letter-spacing: 2vw;
    font-size: 11vw;
    text-align: center;
    height: 13.5vw;
}

#undertitle {
    position: relative;
    font-size: 1.1vw;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.4vw;
    word-spacing: 1.8vw;
    line-height: 1px;
    text-align: center;
    top: 0px;
}

.city {
    display: flex;
    margin-top: 3.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    letter-spacing: 2px;
    font-size: 1vw;
    cursor: pointer;
    height: 25px;
}

.city:hover {
    color: white;
}

#milan {
    margin-left: -22vw;
}

.line {
    margin-top: 0.5vw;
    height: 2px;
    width: 3vw;
    border-top: 1px solid white;
}

#milan-line {
    margin-right: 20px;
}

#moscow-line {
    margin-left: 20px;
}
