.parallax-container {
    height: 101vh;
    width: 100vw;
    scroll-snap-align: start;
}

/* ---**--- */

.img-flex-container {
    display: flex;
    overflow: hidden;
    scroll-snap-align: start;
}

.flexxed-img {
    width: 33.33vw;
    height: 101vh;
}

.img-texts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-text {
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 22;
}
