@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.quote-container {
    height: 101vh;
    scroll-snap-align: start;
}

.quote {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 500;
    font-size: 1.6vw;
}

.positioner {
    position: absolute;
    margin-left: 5vw;
    margin-top: 45vh;
}

.find-out {
    margin-top: 5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: lighter;
    cursor: pointer;
    transition: 0.1s;
    transform: scaleY(1.5);
}

.find-out:hover {
    letter-spacing: 3px;
}

.find-line {
    color: black;
}
