@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200&family=PT+Serif&family=Roboto:wght@300&display=swap');

.video-container {
    position: relative;
    height: 101vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
    /* ---**--- */
    scroll-snap-align: start;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(101vh);
    scroll-snap-type: y proximity;
}

.video-container video {
    z-index: -1;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

video {
    filter: brightness(50%);
}
